#content{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center
}
body{
    background-color: #19A5E1
}

.main-img{
    width: 16%;
}
.opening-text{
    color: #FFFFFF
}